

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.formContainer {
    width: 300px;
    margin-bottom: 24px;
}


.ant-card .ant-card-body {
    padding-right: 15px;
    padding-bottom: 24px;
    padding-left: 24px;
    border-radius: 0 0 8px 8px;
}



/* loginStyles.css */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f2f5; /* Set your preferred background color */
}

.form-container {
    width: 30%;
    margin-bottom: 24px;
    padding: 24px;
    background-color: #ffffff; /* Set your preferred background color */
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.logo-container {
    text-align: center;
    margin-bottom: 16px;
}

.logo {
    max-width: 100%;
    height: 5rem;
}

/* Adjustments for Ant Design components */
.ant-typography {
    margin-bottom: 16px;
}

.ant-form-item {
    margin-bottom: 16px;
}

.ant-btn {
    width: 100%;
}

.ant-typography a {
    float: right;
}
