

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.formContainer {
    width: 300px;
    margin-bottom: 24px;
}


.ant-card .ant-card-body {
    padding-right: 15px;
    padding-bottom: 24px;
    padding-left: 24px;
    border-radius: 0 0 8px 8px;
}


/* Adjustments for Ant Design components */
.ant-typography {
    margin-bottom: 16px;
}

.ant-form-item {
    margin-bottom: 16px;
}

.ant-btn {
    width: 100%;
}

.ant-typography a {
    float: right;
}
.responsive-table {
    overflow-x: auto;
    max-width: 100%;
}


/* Add these styles to your existing CSS or create a new CSS file */
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-container {
    max-width: 400px;
    width: 100%;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.logo-container {
    text-align: center;
    margin-bottom: 16px;
}

.logo {
    max-width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    .form-container {
        padding: 8px;
    }
}

@media (max-width: 400px) {
    .form-container {
        max-width: 100%;
    }
}
